<!DOCTYPE html>
<html>
<head>
  <title>Endpoint Setup | Aptible</title>
  <style type="text/css">
      body {
        font-family: "proxima-nova", arial, "open-sans", sans-serif;
        margin: 0px;
        background: #FAFAFA;
      }
      .error-page {
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .error-page .error-body {
        background: #FFFFFF;
        border: 1px solid #E7E8E8;
        border-radius: 6px;
        padding: 16px;
        margin: 24px;
        width: 700px;
        text-align: left;
        box-shadow: 0 1px 2px rgba(0,0,0,.06);
      }
      .alert {
        padding: 10px 16px;
        background: #AD1A1A;
        color: #FFFFFF;
        font-size: 14px;
        text-align: left;
        border-radius: 6px;
      }
      .alert img {
        margin-right: 5px;
        vertical-align: middle;
      }
      .content-wrapper {
        margin: 0 auto;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
      }
      .content-wrapper div {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        max-width: 550px;
      }
      .wrench {
        margin-right: 24px;
      }
      .error-body h1 {
        color: #111920;
        font-size: 24px;
        line-height: 1;
      }
      .error-body p {
        color: #111920;
        font-size: 18px;
        line-height: 1;
      }
    </style>
</head>

<body>
    <div>
      <div class="error-page">
        <div class="error-body">
          <div class="alert">
            <img src="icon-alert.svg" height="24px" width="24px">Endpoint configuration is not finished.
            </div>
            <div class="content-wrapper">
              <div>
                <img class="wrench" src="icon-wrench.svg" height="96px" width="96px">
              </div>
            <div>
              <h1>Almost done!</h1>
              <p>To finish setting up <code><%= ENV['ACME_DOMAIN'] %></code> with Aptible, create a CNAME to this domain from <code><%= ENV['ACME_DOMAIN'] %></code> via your DNS provider.</p>
              <p>Then, go back to the Aptible Dashboard and click "I created the CNAME".</p>
              <p><a href="https://aptible.zendesk.com/hc/en-us/requests/new">Contact Support</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
