<!DOCTYPE html>
<html>
  <head>
    <title>Application Error</title>
    <style type="text/css">
      body {
        font-family: "proxima-nova", arial, "open-sans", sans-serif;
        margin: 0px;
        background: #FAFAFA;
      }
      .error-page {
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .error-page .error-body {
        background: #FFFFFF;
        border: 1px solid #E7E8E8;
        border-radius: 6px;
        padding: 16px;
        margin: 24px;
        width: 700px;
        text-align: left;
        box-shadow: 0 1px 2px rgba(0,0,0,.06);
      }
      .alert {
        padding: 10px 16px;
        background: #AD1A1A;
        color: #FFFFFF;
        font-size: 14px;
        text-align: left;
        border-radius: 6px;
      }
      .alert svg {
        margin-right: 8px;
        vertical-align: middle;
      }
      .content-wrapper {
        margin: 0 auto;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
      }
      .content-wrapper div {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
      }
      .content-wrapper svg {
        margin-right: 24px;
      }
      .error-body h1 {
        color: #111920;
        font-size: 24px;
        line-height: 1;
      }
      .error-body p {
        color: #111920;
        font-size: 18px;
        line-height: 1;
      }
    </style>
  </head>
  <body>
    <div>
      <div class="error-page">
        <div class="error-body">
          <%= File.read(ENV.fetch('ERROR_EMBED_PATH')) %>
        </div>
      </div>
    </div>
  </body>
</html>
